.header{
    /* grid-template-columns: auto,auto; */

}
.hamburguesa{
    max-width: 100px;
    margin-top: 0%;
    margin-bottom: 10%;
    margin-left: 80%;
    margin-right: 0%;

}
.happyBurger{
    margin-left: 70%;
    margin-bottom: 0%;
   
}